.place__image {
  margin: 0 40px 0 0;
  width: 100%;
  max-width: 460px;
}

@media screen and (max-width: 1279px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 767px) {
  .place__image {
    width: calc(100% + 32px);
    justify-self: center;
    margin: 0 0 32px 0;
  }
}
