.lead {
  margin: 0 auto;

  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* @media screen and (min-width: 1280px) {
    .lead {
        margin-left: 100px;
        margin-right: 100px;
    }
} */

/* @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead {
        max-width:928px;
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .lead {
        max-width: 768px;
    }
}

@media screen  and (max-width: 767px){
   .lead {
       max-width: 320px;
   }
}  */
