@font-face {
  src: url(../fonts/Inter-Bold.woff) format("woff"),
    url(../fonts/Inter-Bold.woff2) format("woff2");
  font-family: "Inter";
  font-weight: bold;
}
@font-face {
  src: url(./Inter/Inter-Regular.woff) format("woff"),
    url(./Inter/Inter-Regular.woff2) format("woff2");
  font-family: "Inter";
  font-weight: normal;
}

@font-face {
  src: url(../fonts/Inter-SemiBold.woff) format("woff"),
    url(../fonts/Inter-SemiBold.woff2) format("woff2");
  font-family: "Inter";
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("Inter-Black.woff2?v=3.19") format("woff2"),
    url("Inter-Black.woff?v=3.19") format("woff");
}
