.place__url-heading {
  margin: 0 0 12px 0;
  color: #aaaaaa;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 12px;
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    padding: 0 16px;
  }
}
